<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "nambino | your personal baby name generator" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
    <div class="row column">
      <%= render "layouts/notices" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>


    <div class="header">
      <div class="outer">
        <div class="rollover-content">
          <%= link_to "Home", new_result_path if current_user %>
          <%= link_to "Register", new_registration_path unless current_user %>
          <%= link_to "Sign in", new_session_path unless current_user %>
          <%= link_to "Saved searches", results_path if current_user %>
          <%= link_to "Favorite names", user_favorites_path(current_user) if current_user %>
          <%= link_to("Sign out", session_path(current_user), method: :delete) if current_user %>
        </div>
      </div>
    </div>
</body>
</html>
